.gradle
build/
target/
*.idea/
*.iml
*.log
.terraform*
terraform.tfstate*
out
.DS_Store
deployment/terraform_azure/aks_kubectl_config
deployment/terraform_azure/1.setup.sql
deployment/terraform_azure/2.setup.sql
tmp-migration
