version: 2.1
orbs:
  build-and-test:
    jobs:
      build-and-test:
        parameters:
          script:
            description: the script to execute
            type: string
        machine: true
        working_directory: ~/eventuate-tram-examples-customers-and-orders
        steps:
          - checkout
          - restore_cache:
              keys:
                - eventuate-tram-examples-customers-and-orders-j8-{{ checksum "gradle.properties" }}-{{ checksum "pom.xml" }}
                - eventuate-tram-examples-customers-and-orders-j8-
          - run:
              command: |
                ./.circleci/upgrade-docker-compose.sh
                . ./.circleci/setenv-circle-ci.sh
                ./gradlew testClasses
                ./mvnw package test-compile -DskipTests
          - save_cache:
              paths:
                - ~/.gradle
                - ~/.m2
              key: eventuate-tram-examples-customers-and-orders-j8-{{ checksum "gradle.properties" }}-{{ checksum "pom.xml" }}
          - run:
              command: |
                . ./.circleci/setenv-circle-ci.sh
                <<parameters.script>>
          - run:
              name: Save test results
              command: |
                mkdir -p ~/junit
                find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
              when: always
          - run:
              name: Print container logs
              command: |
                export TERM=dumb
                ./.circleci/print-container-logs.sh
              when: always
          - store_test_results:
              path: ~/junit
          - store_artifacts:
              path: ~/junit
          - store_artifacts:
              path: ~/container-logs
workflows:
  version: 2.1
  build-test-and-deploy:
    jobs:
      - build-and-test/build-and-test:
          name: build-and-test-all-mysql-binlog
          script: ./build-and-test-all-mysql-binlog.sh
      - build-and-test/build-and-test:
          name: build-and-test-all-postgres-polling
          script: ./build-and-test-all-postgres-polling.sh
      - build-and-test/build-and-test:
          name: build-and-test-all-postgres-wal
          script: ./build-and-test-all-postgres-wal.sh
      - build-and-test/build-and-test:
          name: build-and-test-all-mysql-maven
          script: ./build-and-test-all-mysql-maven.sh
